@font-face {
	font-family: 'Angry-Regular';
	src: url('./font/angry-regular.eot');
	src: url('./font/angry-regular.eot?#iefix') format('embedded-opentype'),
		url('./font/angry-regular.woff2') format('woff2'),
		url('./font/angry-regular.woff') format('woff'),
		url('./font/angry-regular.ttf') format('truetype'),
		url('./font/angry-regular.svg#angry-regular') format('svg');
}
.redText{
    color: #CF1013;
}
.Font{
    font-size: 40px;
    font-family: "Angry-Regular";
    text-align: right;
    padding-right: 80px;
}
.advertisement{
    height: 870px;
    width: 100%;
}

.advertisement_advantages{
    grid-area:;
}