

*{
    margin: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Angry';
    src: url(./fonts/Angry/Web-PS/Angry.woff2) format('woff2'), /* Modern Browsers */
        url(./fonts/Angry/Web-PS/Angry.otf) format('opentype'); /* Safari, Android, iOS */
            font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-SemiBold';
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}


.page{
    max-width: 1760px;
    margin: auto;
}


.catalog__card-content{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 30px;
    border-top: 0px;
}

.top{
    margin: auto;
    font-size: 30px;
}



.info-right{
    font-size: 22px;
}

.info-left{
    color: gray;
    font-size: 21px;
}

.catalog-title{
    font-size: 70px;
    font-family: 'Angry';
}


.catalog__card-info-block{
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 20px;
    padding-bottom: 31px;
    gap: 11px;
}

.catalog__card-info-row {
    display: flex;
    justify-content: space-between;
}


.catalog__button-block{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.catalog__button-block button{
    color: red;
    background: none;
    border: none;
    font-size: 18px;
}

.top-text{
    display: flex;
    flex-direction: column;
}


.catalog__card-area{
    display: flex;
    font-family: 'Roboto-Regular';
    gap: 49px;
    margin-top: 85px;
}

.catalog__red-arrows{
    margin-left: 50%;
    margin-top: 10%;
} 

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Первая часть Преимущества продажи японок*/
.head{
    margin: 0;
    padding: 0;
}

.features{
    height: 638px;
    margin: 0;
    padding: 0; 
}

.section-title{
    font-family: 'Angry';
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: start;
    justify-content: start;
}

.section-title__span_red{
    color: red;
}

.features-list{
    display: grid;

    padding-top: 68px;
    gap: 40px;
    grid: auto-flow / 1fr 1fr 1fr;
}

.features-item{
    display: flex;
    flex-direction: column;
    width: 553px;
    height: 180px;
    margin: 0;
    background-image: url(photo/val.png);
    text-align: center;
    justify-content: center;
}

.features-item h3{
    margin: 0;
    padding: 0;
    font-family: 'Angry';
    font-size: 36px;
    color: rgba(0, 85, 141, 1);
}

.features-item p{
    margin: 0;
    padding: 0;
    font-family:'Roboto-Regular';
    font-size: 16px;
    width: 419px;
    padding-left: 67px;
    text-align: start;
}

/* Вторая часть Преимущества работы с нами*/

.advantages-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.advantages-header p{
    display: flex;
    font-family:'Roboto-Regular';
    font-size: 20px;
    width: 159px;
    height: 159px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-image: url(photo/Ellipse\ 1.png);
}

.advantages-list{
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 68px;
    gap: 50px;
}

.advantages-list_red, .advantages-list_blue{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    height: 132px;
    width: 553px;
    gap: 15px;
}

.advantages-list_red{
    background-color: rgba(207, 16, 19, 0.05);
}

.advantages-list_blue{
    background-color: rgba(0, 85, 141, 0.05);
}

.advantages-list img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

}

.advantages-list p{
    font-family:'Roboto-Regular';
    font-size: 24px;
    width: 395px;
    padding: 0;
    margin: 0;
}

.auction__heading {
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.auction__heading-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.auction__box {
    display: flex;
    justify-content: space-between;
}

.auction__button {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    border: 0px;
    background-color: rgb(220, 0, 0);
    font-size: 24px;
    color: white;
}

.auction__button:hover {
    border: solid;
    background-color: rgb(255, 255, 255);
    color: black;
}

.auction__proceed {
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

.auction__big {
    font-family: 'Angry';
    font-size: 50px;
}

.auction__container {
    border: solid #DEDEDE 2px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 402px;
    align-items: center;
}

.auction__image {
    width: 402px;
    height: 280px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.auction__text-gap {
    padding-top: 8px;
}

.auction__car-name {
    font-family: 'Roboto-Regular';
    font-size: 24px;
}

.auction__year {
    font-family: 'Roboto-Regular';
    color: gray;
    font-size: 16px;
}

.auction__price {
    font-family: 'Angry';
    font-weight: 400;
    font-size: 40px;
    color: #00558D;
}

.auction__timer {
    border: solid #DEDEDE 1px;
    border-radius: 25px;
    width: 276px;
    height: 40px;
    background-color: white;
    font-size: 24px;
    font-family: 'Roboto-Regular';
}

.auction__text-content {
    padding-top: 15px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction__wrapper, .advantages, .features  {
    max-width: 1760px;
    margin: auto;
    padding-bottom: 100px;
}

