body{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

.head{
    margin: 0;
    padding: 0;
}

.buy_car{
    height: 638px;
    margin: 0;
    padding: 0; 
    background-color: cadetblue;
}

.perks{
    font-size: 90px;
    margin: 0;
}

.red{
    color: red;
}

.check_list{
    display: flex;
    flex-direction: column;
}
.up{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 40px;
}

.block_profit{
    display: flex;
    flex-direction: column;
    width: 553px;
    height: 180px;
    margin: 0;
    background-image: url(val.png);
    text-align: center;
    justify-content: center;
}

.profit{
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.profit_text{
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 419px;
    padding-left: 110px;
    text-align: start;
}

.block_new{
    display: flex;
    flex-direction: column;
    width: 553px;
    height: 180px;
    margin: 0;
    background-image: url(val.png);
    text-align: center;
    justify-content: center;
}

.new{
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.new_text{
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 419px;
    padding-left: 110px;
    text-align: start;
}

<div class="advantages__down">
<div class="blue__val">
    <p>Доставка в любой регион России - авиа/жд/автовозы</p>
    <img src="car.png" alt="Грузовик">
</div>
<div class="red__val">
    <p>Услуга по срочной покупке</p>
    <img src="buy_car.png" alt="покупка машины">
</div>
<div class="blue__val">
    <p>Клиент принимает непосредственное участие в торгах</p>
    <img src="action.png" alt="аукцион">
</div>
</div>

.advantages__down img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

}

.advantages__down p{
    font-family:'Roboto-Regular';
    font-size: 24px;
    height: 72px;
    width: 395px;
    padding: 0;
    margin: 0;
}

.advantages__down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
